html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    clear: both
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.el-row {
    padding-top: 20px;
}
